/*Rules*/
:root {
    --primary-color: #eee;
    --secundary-color: #000;
    --third-color: #2c5488;
    --fourth-color: #222222da;
    --background-color: #ffe3ca;
    --body-font: "Roboto", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Body*/
body {
    font-family: var(--body-font);
    text-align: center;
}

/*Header*/
header span {
    padding: 2rem;
    display: block;
    font-size: 1.3rem;
    color: var(--primary-color);
    background-color: var(--third-color);
}

header nav {
    display: flex;
    background-color: var(--fourth-color);
    justify-content: space-around;
}
header nav ul {
	list-style-type: none;
}

header a {
	display: block;
	color: var(--primary-color);
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

header nav a:hover {
	text-decoration: overline;
}


header nav ul {
	display: flex;
}

nav ul li {
	flex: 1 0 auto;
    justify-content: space-around;
}

